                                <table class="tablesorter" id="myTable3">
                                    <thead>
                                        <tr>
                                            <th>Term(code meaning)</th>
                                            <th>Code</th>
                                            <th>Source</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Term-1</td>
                                            <td>RIDxxx</td>
                                            <td>RadLex</td>
                                        </tr>
                                        <tr>
                                            <td>Term-2-1-1</td>
                                            <td>RIDxxx</td>
                                            <td>RadLex</td>
                                        </tr>
                                    </tbody>
                                </table>

