$(".newTemplateStore").html("<%= escape_javascript(render :partial => 'form') %>");
ajaxLinks();
//alert('Hello from AJAX');
//$("main_div").html("js ****************") ;
//$("#new_template_store").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
// $("#template_stores_count").html("<%= pluralize('', 'template_store 	') %>");
//$("#template_stores").append("<%= escape_javascript(render(:partial => @template_store)) %>");
//$("#new_template_store")[0].reset();
