<!--<tr>-->
<!--<td><% #  inference.id
%></td>-->
<!--<b>inference:</b>
<table><thead><tr><th>Annotator Confidence</th></tr></thead><tbody><tr><td>
<div><% #= inference.annotatorConfidence %>
</td></tr>
</tbody></table>-->
<!--</tr>-->
