<% form_for form, :html => {:id => 'create_anatomic_entity', :class => 'ajaxForm'} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :template_id.to_s.titleize %><br />
    <%= f.text_field :template_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

