<h1>
your imaging observations
</h1>
<table cellpadding="3">
<tr>
<th align="left">ID</th><!--<th>user</th>--><th align="left">characteristics</th>
</tr>
<%= render :partial => '/imaging_observations/imaging_observation', :collection => @imaging_observations %>
</table>
